<div class="container">
    <div class="heading">
        <div class="heading__text">Star Wars Characters</div>
    </div>
    <div class="btn">
        <div class="btn__main-btn">
            <button class="btn__main-btn__logout" (click)="onLogOut()">Logout</button>
            <button class="btn__main-btn__get" (click)="getCharacters()">get Characters</button>
        </div>
        <div class="btn__sorting-btn" *ngIf="characters.length>0">
            <button class="btn_sorting-btn__height " (click)=" clickSortByHeight()">Height</button>
            <button class="btn_sorting-btn__mass " (click)="clickSortByMass()">Mass</button>
            <button class=" btn_sorting-btn__gender ">Gender</button>
        </div>
    </div>
    <div class="characters " *ngFor="let character of characters ">
        <div class="characters__leftProp ">
            <div class="characters__leftProp__name ">
                <span class="prop ">Name: </span>{{ character.name }}</div>
            <div class="characters__leftProp__gender ">
                <span class="prop ">Gender: </span>{{ character.gender }}</div>
            <div class="characters__leftProp__age ">
                <span class="prop ">Eye color: </span>{{ character.eye_color }}</div>
        </div>
        <div class="characters__rightProp ">
            <div class="characters__birth ">
                <span class="prop ">Birth date: </span>{{ character.birth_year }}</div>
            <div class="characters__mass ">
                <span class="prop ">Mass: </span>{{ character.mass }}</div>
            <div class="characters__height ">
                <span class="prop ">Height:  </span>{{ character.height }}</div>
        </div>
    </div>